<section id="about" class="py-24 px-6">
    <div class="max-w-300 mx-auto px-2 md:px-12">
        <h2 class="text-[#bec6e0] text-5xl font-bold text-center mb-6">Sobre DeltaHBC</h2>
        <p class="text-gray-300 text-xl text-center mb-16 max-w-200 mx-auto">
            Resolviendo problemas de alto impacto social a través de la tecnología. 
            Operamos como una startup comprometida con el cambio social.
        </p>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="bg-neutral-900 rounded-xl shadow-lg p-8 hover:shadow-xl transition flex flex-col items-center text-center border border-neutral-700/50 hover:border-blue-300/40 group">
                <div class="size-16 bg-blue-800/20 rounded-full flex items-center justify-center mx-auto mb-6 group-hover:scale-110 transition-transform shadow-[0_0_30px_rgba(255,255,255,0.1)]">
                    <i class="fa-solid fa-leaf text-gray-300 text-2xl"></i>
                </div>
                <h3 class="text-2xl font-bold text-white mb-3">Impacto</h3>
                <p class="text-lg text-gray-400">Beneficios sociales cuantificables, integrados en cada linea de código.</p>
            </div>
            
            <div class="bg-neutral-900 rounded-xl shadow-lg p-8 hover:shadow-xl transition flex flex-col items-center text-center border border-neutral-700/50 hover:border-purple-400/40 group">
                <div class="size-16 bg-purple-800/20 rounded-full flex items-center justify-center mx-auto mb-6 group-hover:scale-110 transition-transform shadow-[0_0_30px_rgba(255,255,255,0.1)]">
                    <i class="fa-solid fa-rocket text-gray-300 text-2xl"></i>
                </div>
                <h3 class="text-2xl font-bold text-white mb-3">Innovación</h3>
                <p class="text-lg text-gray-400">Utilizamos las últimas tecnologías para crear soluciones disruptivas.</p>
            </div>


            <div class="bg-neutral-900 rounded-xl shadow-lg p-8 hover:shadow-xl transition flex flex-col items-center text-center border border-neutral-700/50 hover:border-pink-300/40 group">
                <div class="size-16 bg-pink-400/20 rounded-full flex items-center justify-center mx-auto mb-6 group-hover:scale-110 transition-transform shadow-[0_0_30px_rgba(255,255,255,0.1)]">
                    <i class="fa-solid fa-bullseye text-gray-300 text-2xl"></i>
                </div>
                <h3 class="text-2xl font-bold text-white mb-3">Propósito</h3>
                <p class="text-lg text-gray-400">Desarrollo impulsado y centrado en un camino de impacto social positivo.</p>
            </div>
        </div>
    </div>
</section>